<h1>All Messages</h1>

<ol>
  @foreach (Message message in Model)
  {
    <ul>
      <li>ID: @message.MessageId</li>
      <li>Title: @message.Title</li>
      <li>Body: @message.Body</li>
      <li>Date: @message.Date</li>
      <li>UserName: @message.UserName</li>
      <li>GroupId: @message.GroupId</li>
    </ul>
    <a href="/Messages/Details/@(message.MessageId)"><p>View Details</p></a>
  }
</ol>